@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-purple-base: #892ccd;
    --color-purple-light: #a85fdd;
    --color-gray-100: #0f0f1a;
    --color-gray-200: #131320;
    --color-gray-300: #1a1b2d;
    --color-gray-400: #45455f;
    --color-gray-500: #7a7b9f;
    --color-gray-600: #b5b6c9;
    --color-gray-700: #e5e2e9;
    --color-white: #ffffff;
    --color-error-base: #d04048;
    --color-error-light: #f77980;

    --font-display: "Rammetto One", sans-serif;
    --font-title: "Rajdhani", sans-serif;
    --font-body: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--color-gray-100);
}
